.todo-item {
    display: flex;
}

.todo-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 30%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 10px 20px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; 
    background-color: #E86651;
    border-top: 2px solid #D64129;
    border-bottom: 2px solid #D64129;
}

.todo-item-name span {
    position: relative;
    display: block;
    cursor: pointer;
}

/* .todo-item-name span:before, .todo-item-name span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  .todo-item-name span:before {
    left: -2.5px;
  }
  .todo-item-name span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .todo-item-name span:hover:before {
    background: #fff;
    width: 100%;
    transition: width 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .todo-item-name span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  } */

.todo-item-done {
    color: rgb(150, 98, 90, 0.4);
    text-decoration: line-through;
}

@media screen and (max-width: 900px) {
    .todo-item-container {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 700px) {
    .todo-item-container {
        flex-basis: 60%;
    }
}

@media screen and (max-width: 460px) {
    .todo-item-container {
        flex-basis: 100%;
    }
}

.todo-item-name, .todo-item-container form {
    flex-grow: 5;
}

.todo-item-container input {
    width: 90%;
    height: 70%;
    border: 1px solid white;
}


.todo-item-icons i {
    flex-grow: 1;
    padding: 0px 4px;
}

