.todo-item {
    width: 300px; 
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 10px 20px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; 
    background-color: lightseagreen;
    border-bottom: 2px solid white;
}

.todo-icons {
    float: right;
}

.todo-icons i {
    margin: 0px 2px 0px 2px;
}